<% layout('layout') %>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">

      <h1 class="display-3">Form Login</h1>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
          <form action="" method="post">
              <input type="text" name="email" class="form-controll" placeholder="* Email">
              <input type="text" name="password" class="form-controll" placeholder="* Password">

              <button class="btn btn-primary btn-md">Login</button>
          </form>
      </div>
      
    </div>

    <hr>

  </div> <!-- /container -->
  
</main>